<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opinion Pollinus</title>
    <link rel="stylesheet" href="../../../static/STYLE/CSS/Welcome.css">
    <link rel="stylesheet" href="../../../static/STYLE/CSS/Opinion_Oracle.css" >
    <link rel="stylesheet" href="../../../static/STYLE/CSS/BOOTSTRAP/BS-Opinion_Oracle.css">
</head>
<body>

<header>

    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
            <div class="nav-title">
                Opinius Pollinus
            </div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>

        <div class="nav-links">
            <button class="opinion_poll_header_link"> <a href="Opinion_Poll.html" target="_blank" >Opinion Polls</a></button>
            <a href="http://stackoverflow.com/users/4084003/" target="_blank">News</a>
            <a href="https://in.linkedin.com/in/jonesvinothjoseph" target="_blank">Support</a>
            <a href="https://in.linkedin.com/in/jonesvinothjoseph" target="_blank">Profile</a>
        </div>
    </div>



</header>

<main>

    <div class="Opinion_Oracle_Posts">
        <div id="Opinion_Poll-Posts-Container">

                <div id="user-Posted-Opinion_Poll" class="posted-Opinion_Poll" >
                    <div id="header-Opinion_Poll">
                        <input class="themeInput" disabled  type="text" size="60" value="Wie cool sind Autos?">
                    </div>
                    <section  class="opinion_Poll-section">

                        <div class="OpinionInput-Container">
                            <input class="opinionInput" disabled type="text" size="30" value="cool">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            </div>

                        </div>

            </section>
            <section class="opinion_Poll-section">


                <div class="OpinionInput-Container">
                    <input class="opinionInput" disabled type="text" size="30" value="sehr cool">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                </div>
            </section>
            <section  class="opinion_Poll-section">


                <div class="OpinionInput-Container">
                    <input class="opinionInput" disabled type="text" size="30" value=" super cool">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                </div>
            </section>
            <section  class="opinion_Poll-section">


                <div class="OpinionInput-Container">
                    <input class="opinionInput" disabled type="text" size="30" value="cool">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    </div>

                </div>
            </section>

                </div>

<!--            ----------------------------------------->

            <div id="user-Posted-Opinion_Poll" class="posted-Opinion_Poll" >
                <div id="header-Opinion_Poll">
                    <input class="themeInput" disabled  type="text" size="60" value="Diesel oder Super?">
                </div>
                <section  class="opinion_Poll-section">

                    <div class="OpinionInput-Container">
                        <input class="opinionInput" disabled type="text" size="30" value="Super">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>

                    </div>

                </section>
                <section class="opinion_Poll-section">


                    <div class="OpinionInput-Container">
                        <input class="opinionInput" disabled type="text" size="30" value="Diesel">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                    </div>
                </section>


            </div>

<!--            ---------------------------------------------->

            <div id="user-Posted-Opinion_Poll" class="posted-Opinion_Poll" >
                <div id="header-Opinion_Poll">
                    <input class="themeInput" disabled  type="text" size="60" value="Welche Haarfarbe hast du ?">
                </div>
                <section  class="opinion_Poll-section">

                    <div class="OpinionInput-Container">
                        <input class="opinionInput" disabled type="text" size="30" value="Blond">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>

                    </div>

                </section>
                <section class="opinion_Poll-section">


                    <div class="OpinionInput-Container">
                        <input class="opinionInput" disabled type="text" size="30" value="Braun">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                    </div>
                </section>
                <section  class="opinion_Poll-section">


                    <div class="OpinionInput-Container">
                        <input class="opinionInput" disabled type="text" size="30" value="schwarz">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                    </div>
                </section>
                <section  class="opinion_Poll-section">


                    <div class="OpinionInput-Container">
                        <input class="opinionInput" disabled type="text" size="30" value="anderes">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>

                    </div>
                </section>

            </div>


        </div>

    </div>

<!-- // erstes Prototyp, Coden-->
<!--
 <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">

        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">

        </label>
    </div>
-->


</main>


<footer>


</footer>


<script type="module">
    import { alert } from '../../../node_modules/bootstrap/js/src/alert.js'

    import {handleLocationID} from "../../../static/JAVASCRIPT/Main.js";
</script>


</body>
</html>